alabaster>=0.7.8
Babel>=2.3.3
bhmm>=0.6.1
cycler>=0.10.0
Cython>=0.24
decorator>=4.0.10
docutils>=0.12
funcsigs>=1.0.0
imagesize>=0.7.1
Jinja2>=2.8
joblib>=0.9.4
MarkupSafe>=0.23
matplotlib>=1.5.1
mdtraj>=1.7.2
mock>=2.0.0
msmbuilder>=3.5.0
msmtools>=1.1.2
numexpr>=2.6.0
numpy>=1.11.0
numpydoc>=0.5
pandas>=0.18.1
pbr>=1.10.0
psutil>=4.3.0
pyEMMA>=2.2.2
Pygments>=2.1.3
pyhmc>=0.1.2
pyparsing>=2.1.4
python-dateutil>=2.5.3
pytz>=2016.4
PyYAML>=3.11
scikit-learn>=0.17.1
scikit-tensor>=0.1
scipy>=0.17.1
six>=1.10.0
snowballstemmer>=1.2.1
Sphinx>=1.4.1
sphinx-rtd-theme>=0.1.9
tables>=3.2.2
thermotools>=0.2.0
